<#-- * description: salse_order_gather.html * version: 1.0
*author:fei.tang@hand-china.com * #{copyright}# * --> <#include
"../include/head.html">
<body style="padding: 10px;">

	<form id="orderDetailsForm"></form>

	<div id="order_detail_tabs" class="liger-tab">
		<div tabid="order_detail_addtab" title='<@spring.message "exam.sales.main"/>' lselected="true">
			<div id="orderDetailsGrid" style="margin: 0; padding: 0"></div>
		</div>
		<div tabid="order_detail_attribute" title='<@spring.message "exam.sales.others"/>' lselected="true">
			<div id="order_detail_otherstab" style="margin: 0; padding: 0"></div>
		</div>
	</div>





	<script type="text/javascript">
		var infoDetailData = null;
		getInfoDetail();
		
		
  	    var orderDetailsForm = window['orderDetailsForm'] = $("#orderDetailsForm").ligerForm({
              fields : [{
                 type : 'text',
                 label : '<@spring.message "exam.sales.headerid"/>',
                 name : 'orderNumber', 
                 newline : false,
                 width: 160,
                 validate: {
                	 required:true,
                } 
              },{
              	/* ----------------------公司名称lov-------------------- */
                  display :  '<@spring.message "exam.sales.companysname"/>',
                  name : "companyId",  //最终选中的值字段名
                  type : "popup",
                  newline : false,
                  width: 160,
                  textField:'companyName',

  
                  options:{
                      readonly:false,//是否可编辑
                      valueField : 'companyId',  //选中的valueField
                      textField : 'companyName', //选中的textField
                      grid : {
                          columns : [ {
                              display : '<@spring.message "exam.sales.companynumber"/>',
                              name : "companyNumber",
                              width : 200,
                              type : "int",
                              align : "center"
                          }, {
                              display : '<@spring.message "exam.sales.companysname"/>',
                              name : "companyName",
                              width : 200,
                              type : "text",
                              align : "center"
                          } ],
                          url : '${base.contextPath}/sales/company/query' 
                      },
                      condition : {
                          fields : [ {
                              display : '<@spring.message "exam.sales.companynumber"/>',
                              name : "companyNumber",
                              newline : false,
                              type : "text"
                          }, {
                              display : '<@spring.message "exam.sales.companysname"/>',
                              name : "companyName",
                              newline : false,
                              type : "text"
                          } ] ,
                          inputWidth : 150,
                          labelWidth : 70
                      }
                  }
              },{
              	/* ----------------------客户名称lov-------------------- */
                  display :  '<@spring.message "exam.sales.customername"/>',
                  name : "customerId",  //最终选中的值字段名
                  type : "popup",
                  newline : false,
                  width: 160,
                  textField:'customerName',
                  options:{
                      readonly:false,//是否可编辑
                      valueField : 'customerId',  //选中的valueField
                      textField : 'customerName', //选中的textField
                      grid : {
                          columns : [ {
                              display : '<@spring.message "exam.sales.customernumber"/>',
                              name : "customerNumber",
                              width : 200,
                              type : "int",
                              align : "center"
                          }, {
                              display : '<@spring.message "exam.sales.customername"/>',
                              name : "customerName",
                              width : 200,
                              type : "text",
                              align : "center"
                          } ],
                          url : '${base.contextPath}/sales/customer/query' 
                      },
                      condition : {
                          fields : [ {
                              display : '<@spring.message "exam.sales.customernumber"/>',
                              name : "customerNumber",
                              newline : false,
                              type : "text"
                          }, {
                              display : '<@spring.message "exam.sales.customername"/>',
                              name : "customerName",
                              newline : false,
                              type : "text",
                              /*----------------------------联动设置 ----------------------*/
                              onLoadData: function() {
                                 this.setParm('companyId', $.ligerui.get('companyId').getValue());
                             }
                          } ] ,
                          inputWidth : 150,
                          labelWidth : 70
                      }
                  }
              },{
                  display: '<@spring.message "exam.sales.orderdate"/>',
                  name   : 'orderDate',
                  width  : 160,
                  type: 'date',
                  newline : false,
                  required:true,
  	              format : 'yyyy-MM-dd',
                  editor : {
                      type: 'date',
                  }          
          },{
              type : 'text',
              label : '<@spring.message "exam.sales.summary"/>',
              name : 'summary', 
              newline : false,
              width: 160
           },{
           	/* -------------------------form上状态select-------------------- */
               display: '<@spring.message "exam.sales.orderstatus"/>',
               name: "orderStatus",
               type: "select",
               width:160,
               newline:false,
               textField:"codeId",
               options: {
                   readonly: false,
                   valueField: 'meaning',
                   textField: 'meaning',
                   url: '${base.contextPath}/sales/orderHeader/getStatus'
               }
           }], buttons : [ {
               text : '<@spring.message "hap.save"/>',
               disabled : false,
               width : 60,
               click : function() {
       				alert("Save");
               }
           },{
               text : '<@spring.message "hap.submit"/>',
               disabled : false,
               width : 60,
               click : function() {
            	   alert("Submit");
               }
           },{
               text : '<@spring.message "hap.approve"/>',
               disabled : false,
               width : 60,
               click : function() {
						alert("Approve");
               }
           },{
               text : '<@spring.message "hap.refuse"/>',
               disabled : false,
               width : 60,
               click : function() {
						alert("Refuse");
               }
           },{
               text : '<@spring.message "exam.sales.deleteall"/>',
               disabled : false,
               width : 60,
               click : function() {
						alert("Delete All");
               }
           },{
               text : '<@spring.message "exam.sales.print"/>',
               disabled : false,
               width : 60,
               click : function() {
						alert("Print");
               }
           },{
               text : '<@spring.message "exam.sales.back"/>',
               disabled : false,
               width : 60,
               click : function() {
						alert("Back");
               }
           }]
      	 }); 
   	    
   	    
  	    
  	    
  	    
          window['orderDetailsGrid'] = $("#orderDetailsGrid").ligerGrid({
              unSetValidateAttr : false,
              columns : [{
                  display : '<@spring.message "exam.sales.headerid"/>',
                  name : 'orderNumber',
                  align : 'center',
                  width : 120,
                  render : function (item) {
                      var orderNumber = item.orderNumber;
                      //var alert('orderId');
                      var html = "<a href='javascript:void(0)' " +
                              "style='text-decoration: none;' " +
                              "onclick='openJobDetailPage(\"" + orderNumber + "\")'>" + orderNumber + "</a>";
                      return html;
                  }
              },{
                  display : '<@spring.message "exam.sales.companysname"/>',
                  name : 'companyName',
                  align : 'center',
                  width : 160
                /*   render : function (item) {
                      var companyId= item.companyId;
                      var companyName;
                      $.ajax({
                          url        : '${base.contextPath}/sales/company/query',
                          async      : false,
                          type       : "GET",
                          dataType   : "json",
                          contentType: "application/json",
                          data       : {'companyId': companyId},
                          success    : function (json) {
                              if (json.success) {
                              	companyName = json.rows[0].companyName;
                              }
                          },
                          error  : function () {
                              $.ligerDialog.closeWaitting();
                          }
                      });
                      return companyName;
                  }
*/
              },{
                  display : '<@spring.message "exam.sales.customername"/>',
                  name : 'customerName',
                  align : 'center',
                  width : 160,
              },{
                  display: '<@spring.message "exam.sales.orderdate"/>',
                  name   : 'orderDate',
                  align  : 'center',
                  width  : 120,
                  type: 'date',
  	            format : 'yyyy-MM-dd',
          },{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'center',
              width : 120,
          },{
              display : '<@spring.message "exam.sales.price"/>',
              name : 'summary',
              align : 'center',
              width : 120

          },{
              display : '<@spring.message "exam.sales.price"/>',
              name : 'summary',
              align : 'center',
              width : 120

          }],
              url : '${base.contextPath}/sales/orderHeader/query?headerId = 3',
              toolbar : {
                  items : [ {
                      text : '<@spring.message "hap.new"/>',
                      disable : false,
                      click : function() {
                      orderDetailsGrid.addRow({})
                      },
                      icon : 'add'
                  }, {
                      line : true
                  }, {
                      text : '<@spring.message "hap.save"/>',
                      click : function() {
                          Hap.gridSave({
                              grid : fruitGrid,
                              url : '${base.contextPath}/ass/fruit/submit'
                          })
                      },
                      icon : 'save'
                  },  {
                      line : true
                  },{
                      text : '<@spring.message "hap.delete"/>',
                      click : function() {
  							 Hap.gridDelete({
                              grid : fruitGrid,
                             /*  url : '${base.contextPath}/sys/student/delete' */
                              url : '${base.contextPath}/ass/fruit/submit'
                             
                          }) 
                      	fruitGrid.deleteSelectedRow();
                      },
                      icon : 'delete'
                  }]
              },
              
              enabledEdit : false,
              width : '99%',
              height : '98%',
              checkbox : false

          });
		  
          window['order_detail_otherstab'] = $("#order_detail_otherstab").ligerGrid({
        	  unSetValidateAttr : false,
              columns : [{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'left',
              width : 120,
              editor :{ type : 'text'}
          },{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'left',
              width : 120,
              editor :{ type : 'text'}
          },{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'left',
              width : 120,
              editor :{ type : 'text'}
          },{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'left',
              width : 120,
              editor :{ type : 'text'}
          },{
              display : '<@spring.message "exam.sales.orderstatus"/>',
              name : 'orderStatus',
              align : 'left',
              width : 120,
              editor :{ type : 'text'}
          }],
              url : '${base.contextPath}/sales/orderHeader/query?headerId = 3',
              toolbar : {
                  items : [ {
                      text : '<@spring.message "hap.new"/>',
                      disable : false,
                      click : function() {
                      orderDetailsGrid.addRow({})
                      },
                      icon : 'add'
                  }, {
                      line : true
                  }, {
                      line : true
                  }, {
                      text : '<@spring.message "hap.save"/>',
                      click : function() {
                          Hap.gridSave({
                              grid : fruitGrid,
                              url : '${base.contextPath}/ass/fruit/submit'
                          })
                      },
                      icon : 'save'
                  }, {
                      text : '<@spring.message "hap.delete"/>',
                      click : function() {
  							 Hap.gridDelete({
                              grid : fruitGrid,
                             /*  url : '${base.contextPath}/sys/student/delete' */
                              url : '${base.contextPath}/ass/fruit/submit'
                             
                          }) 
                      	fruitGrid.deleteSelectedRow();
                      },
                      icon : 'delete'
                  }]
              },
              
              enabledEdit : true,
              width : '99%',
              height : '98%',
              checkbox : false
          });
		  
		  
		  
        
        setJobFormData();
   	 	
   	    function getInfoDetail() {
   	    	var orderId = "${RequestParameters.orderId}";
   	     	$.ajax({
             	url        : '${base.contextPath}/sales/orderHeader/query',
             	async      : false,
             	type       : "GET",
             	dataType   : "json",
             	contentType: "application/json",
             	data       : {'orderNumber' : orderId},
             	success    : function (json) {
                 	if (json.success) {
                     infoDetailData = json.rows[0];
                 	}
             	},
             	error      : function () {
                 	$.ligerDialog.closeWaitting();
             	}
         	});
   	    }

   	    function setJobFormData() {
   	        var obj = {
   	        		orderNumber          : infoDetailData.headerId
   	        };
   	        var form = liger.get("orderDetailsForm");
   	        form.setData(obj);
   	    }
   	    
   	    
    </script>


</body>
</html>